.lesson-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
  margin: 2rem 1rem;
  color: white;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 1rem;
}
.Card {
  margin: 1rem 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* .image-container {
  width: 100px;
  height: 100px;
  border-radius: 20px;

} */

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px aliceblue;
}

p {
  color: white;
}
span {
  color: coral;
  font-weight: 700;
}
.lesson-state button {
  padding: 1rem;
  width: 100px;
  border-radius: 20px;
  background-color: rgb(46, 64, 183);
  border: none;
  color: aliceblue;
}
