@import "variables";
//* Module-CSS yapısı benzer şekilde SASS birlikte kullanilabilir.

//* Bu sayede global namespace problemi hallolmuş olur.
.footer {
  padding: 2rem;
  background-color: rgb(113, 199, 204);
  font-family: cursive;
  color: blueviolet;
}
